.websiteBody{
  margin: 0;
}.Page{
  display:block;
  margin:auto;
  width:100%;
  height:auto;
  pointer-events:auto;
}
.Page-outer{
  pointer-events:none;
  z-index:1;
}
.Frame{
  position:relative;
  z-index:2;
  pointer-events:none;
  width:100%;
  margin-left:0;
  height:750px;
  min-width:200px;
  max-width:600px;
  margin:auto;
  background-color:#ffffff;
  overflow:hidden;
}
.Frame-outer{
  pointer-events:none;
  z-index:2;
}
.image-1{
  position:relative;
  z-index:25;
  pointer-events:none;
  margin-left:343px;
  width:257px;
  min-width:257px;
  height:97px;
  margin-top:0px;
  margin-bottom:653px;
  min-height:97px;
  content:url(assets/images/image_1.png);
}
.image-1-outer{
  pointer-events:none;
  z-index:25;
  position:relative;
  display:flex;
}
.MTF-New-Biru-1{
  position:relative;
  z-index:4;
  pointer-events:none;
  margin-left:32px;
  width:120px;
  min-width:120px;
  height:43px;
  margin-top:-717px;
  margin-bottom:674px;
  min-height:43px;
  content:url(assets/images/MTF_New_Biru_1.png);
}
.MTF-New-Biru-1-outer{
  pointer-events:none;
  z-index:4;
  position:relative;
  display:flex;
}
.Rectangle-9{
  position:relative;
  z-index:3;
  pointer-events:none;
  margin-left:0px;
  width:600px;
  min-width:600px;
  height:2px;
  margin-top:-653px;
  margin-bottom:651px;
  min-height:2px;
  background-color:rgba(0, 61, 121, 1);
}
.Rectangle-9-outer{
  pointer-events:none;
  z-index:3;
  position:relative;
  display:flex;
}
.SELAMAT-DATANG-DI-MT{
  position:relative;
  z-index:7;
  pointer-events:none;
  margin-left:32px;
  width:250px;
  min-width:250px;
  margin-top:-593px;
  margin-bottom:574px;
  min-height:19px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Nunito;
  font-weight:700;
  font-size:14px;
  line-height:19px;
}
.selamat datang{
  pointer-events:none;
  z-index:7;
  position:relative;
  display:flex;
}
.Terima-kasih-sudah-b{
  position:relative;
  z-index:8;
  pointer-events:none;
  margin-left:32px;
  width:201px;
  min-width:201px;
  margin-top:-570px;
  margin-bottom:556px;
  min-height:14px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(64, 64, 64, 1);
  font-style:normal;
  font-family:Nunito;
  font-weight:600;
  font-size:10px;
  line-height:14px;
}
.Terima-kasih-sudah-b-outer{
  pointer-events:none;
  z-index:8;
  position:relative;
  display:flex;
}
.Dear-Bagus-Putra{
  position:relative;
  z-index:6;
  pointer-events:none;
  margin-left:32px;
  width:96px;
  min-width:96px;
  margin-top:-520px;
  margin-bottom:504px;
  min-height:16px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Nunito;
  font-weight:400;
  font-size:12px;
  line-height:16px;
}
.Dear-Bagus-Putra-outer{
  pointer-events:none;
  z-index:6;
  position:relative;
  display:flex;
}
.Mohon-untuk-dapat-me{
  position:relative;
  z-index:9;
  pointer-events:none;
  margin-left:32px;
  width:540px;
  min-width:540px;
  margin-top:-485px;
  margin-bottom:453px;
  min-height:32px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(64, 64, 64, 1);
  font-style:normal;
  font-family:Nunito;
  font-weight:400;
  font-size:12px;
  line-height:16px;
}
.Mohon-untuk-dapat-me-outer{
  pointer-events:none;
  z-index:9;
  position:relative;
  display:flex;
}
.Rectangle-8{
  position:relative;
  z-index:23;
  pointer-events:none;
  margin-left:222px;
  width:156px;
  min-width:156px;
  height:32px;
  margin-top:-420px;
  margin-bottom:388px;
  min-height:32px;
  background-color:rgba(0, 61, 121, 1);
  border-radius:4px;
}
.Rectangle-8-outer{
  pointer-events:none;
  z-index:23;
  position:relative;
  display:flex;
}
.q130988{
  position:relative;
  z-index:24;
  pointer-events:none;
  margin-left:277px;
  width:43px;
  min-width:43px;
  margin-top:-413px;
  margin-bottom:395px;
  min-height:18px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Poppins;
  font-weight:700;
  font-size:12px;
  line-height:18px;
}
.q130988-outer{
  pointer-events:none;
  z-index:24;
  position:relative;
  display:flex;
}
.Hormat-Kami-PT-Mandi{
  position:relative;
  z-index:10;
  pointer-events:none;
  margin-left:32px;
  width:145px;
  min-width:145px;
  margin-top:-344px;
  margin-bottom:312px;
  min-height:32px;
  text-align:left;
  color:rgba(64, 64, 64, 1);
  font-style:normal;
  font-weight:400;
  font-size:12px;
  line-height:14px;
}
.Hormat-Kami-PT-Mandi-outer{
  pointer-events:none;
  z-index:10;
  position:relative;
  display:flex;
}
.Hormat-Kami-PT-Mandi-1{
  color:rgba(64, 64, 64, 1);
  font-style:normal;
  font-family:Nunito;
  font-weight:400;
  font-size:12px;
  line-height:14px;
}
.Hormat-Kami-PT-Mandi-2{
  color:rgba(64, 64, 64, 1);
  font-style:normal;
  font-family:Nunito;
  font-weight:700;
  font-size:12px;
  line-height:14px;
}
.note--ini-adalah-ema{
  position:relative;
  z-index:12;
  pointer-events:none;
  margin-left:32px;
  width:381px;
  min-width:381px;
  margin-top:-263px;
  margin-bottom:247px;
  min-height:16px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(64, 64, 64, 1);
  font-style:italic;
  font-family:Nunito;
  font-weight:400;
  font-size:12px;
  line-height:16px;
}
.note--ini-adalah-ema-outer{
  pointer-events:none;
  z-index:12;
  position:relative;
  display:flex;
}
.PT-Mandiri-Tunas-Fin{
  position:relative;
  z-index:11;
  pointer-events:none;
  margin-left:32px;
  width:237px;
  min-width:231px;
  margin-top:-113px;
  margin-bottom:71px;
  min-height:42px;
  text-align:left;
  color:rgba(64, 64, 64, 1);
  font-style:normal;
  font-weight:400;
  font-size:10px;
  line-height:11px;
}
.PT-Mandiri-Tunas-Fin-outer{
  pointer-events:none;
  z-index:11;
  position:relative;
  display:flex;
}
.PT-Mandiri-Tunas-Fin-1{
  color:rgba(64, 64, 64, 1);
  font-style:normal;
  font-family:Nunito;
  font-weight:700;
  font-size:10px;
  line-height:11px;
}
.PT-Mandiri-Tunas-Fin-2{
  color:rgba(64, 64, 64, 1);
  font-style:normal;
  font-family:Nunito;
  font-weight:400;
  font-size:10px;
  line-height:11px;
}
.Logo-Samping-MTF{
  position:relative;
  z-index:5;
  pointer-events:none;
  margin-left:513px;
  width:87px;
  min-width:87px;
  height:62px;
  margin-top:-62px;
  margin-bottom:0px;
  min-height:62px;
  content:url(assets/images/Logo_Samping_MTF.png);
}
.Logo-Samping-MTF-outer{
  pointer-events:none;
  z-index:5;
  position:relative;
  display:flex;
}
.Website{
  position:relative;
  z-index:22;
  pointer-events:none;
  margin-left:29px;
  width:16px;
  min-width:16px;
  height:16px;
  margin-top:-54px;
  margin-bottom:38px;
  min-height:16px;
  content:url(assets/images/Website.png);
}
.Website-outer{
  pointer-events:none;
  z-index:22;
  position:relative;
  display:flex;
}
.Facebook{
  position:relative;
  z-index:20;
  pointer-events:none;
  margin-left:163px;
  width:15px;
  min-width:15px;
  height:16px;
  margin-top:-54px;
  margin-bottom:38px;
  min-height:16px;
  content:url(assets/images/Facebook.png);
}
.Facebook-outer{
  pointer-events:none;
  z-index:20;
  position:relative;
  display:flex;
}
.Instagram{
  position:relative;
  z-index:14;
  pointer-events:none;
  margin-left:89px;
  width:15px;
  min-width:15px;
  height:16px;
  margin-top:-54px;
  margin-bottom:38px;
  min-height:16px;
  content:url(assets/images/Instagram.png);
}
.Instagram-outer{
  pointer-events:none;
  z-index:14;
  position:relative;
  display:flex;
}
.YouTube{
  position:relative;
  z-index:21;
  pointer-events:none;
  margin-left:242px;
  width:15px;
  min-width:15px;
  height:15px;
  margin-top:-53px;
  margin-bottom:38px;
  min-height:15px;
  content:url(assets/images/YouTube.png);
}
.YouTube-outer{
  pointer-events:none;
  z-index:21;
  position:relative;
  display:flex;
}
.Twitter{
  position:relative;
  z-index:13;
  pointer-events:none;
  margin-left:320px;
  width:15px;
  min-width:15px;
  height:15px;
  margin-top:-53px;
  margin-bottom:38px;
  min-height:15px;
  content:url(assets/images/Twitter.png);
}
.Twitter-outer{
  pointer-events:none;
  z-index:13;
  position:relative;
  display:flex;
}
.mandiritunasfinance{
  position:relative;
  z-index:16;
  pointer-events:none;
  margin-left:105px;
  width:71px;
  min-width:71px;
  margin-top:-51px;
  margin-bottom:41px;
  min-height:10px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Nunito;
  font-weight:400;
  font-size:6px;
  line-height:8px;
}
.mandiritunasfinance-outer{
  pointer-events:none;
  z-index:16;
  position:relative;
  display:flex;
}
.wwwmtfcoid{
  position:relative;
  z-index:15;
  pointer-events:none;
  margin-left:46px;
  width:51px;
  min-width:51px;
  margin-top:-51px;
  margin-bottom:41px;
  min-height:10px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Nunito;
  font-weight:400;
  font-size:6px;
  line-height:8px;
}
.wwwmtfcoid-outer{
  pointer-events:none;
  z-index:15;
  position:relative;
  display:flex;
}
.Mandiri-Tunas-Financ{
  position:relative;
  z-index:17;
  pointer-events:none;
  margin-left:179px;
  width:78px;
  min-width:78px;
  margin-top:-50px;
  margin-bottom:40px;
  min-height:10px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Nunito;
  font-weight:400;
  font-size:6px;
  line-height:8px;
}
.Mandiri-Tunas-Financ-outer{
  pointer-events:none;
  z-index:17;
  position:relative;
  display:flex;
}
.mandiritunasfin{
  position:relative;
  z-index:19;
  pointer-events:none;
  margin-left:335px;
  width:78px;
  min-width:78px;
  margin-top:-49px;
  margin-bottom:39px;
  min-height:10px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Nunito;
  font-weight:400;
  font-size:6px;
  line-height:8px;
}
.mandiritunasfin-outer{
  pointer-events:none;
  z-index:19;
  position:relative;
  display:flex;
}
.MandiriTunasFinance{
  position:relative;
  z-index:18;
  pointer-events:none;
  margin-left:258px;
  width:78px;
  min-width:78px;
  margin-top:-49px;
  margin-bottom:39px;
  min-height:10px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Nunito;
  font-weight:400;
  font-size:6px;
  line-height:8px;
}
.MandiriTunasFinance-outer{
  pointer-events:none;
  z-index:18;
  position:relative;
  display:flex;
}
